@import url("var.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  padding: 10px 20px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 1);
}

header .header__logo {
  color: var(--light-white);
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: var(--shoulders);
}
header.sticky .header__logo {
  color: var(--light-black);
}

header ul {
  position: relative;
  display: flex;
  margin: 15px;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: var(--light-white);
  transition: 0.5s;
}
header ul li a:hover {
  color: var(--green);
}
header.sticky ul li a {
  color: var(--light-black);
}

header.sticky ul li a:hover {
  color: var(--green);
}

/* ##### Menu Hamburger ##### */

.menu__icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  right: 10px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.menu__icon .menu__icon--one {
  content: "";
  display: block;
  background-color: var(--light-white);
  box-shadow: 1px 1px 4px var(--orange);
  height: 2px;
  width: 25px;
  position: relative;
  top: 0;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--one.sticky {
  background-color: var(--light-black);
  box-shadow: none;
}

.menu__icon .menu__icon--one.active {
  transform: rotate(45deg);
  top: 2px;
  background-color: var(--light-white);
  box-shadow: none;
}
.menu__icon .menu__icon--one.sticky.active {
  transform: rotate(45deg);
  top: 2px;
  background-color: var(--light-black);
  box-shadow: none;
}

.menu__icon .menu__icon--two {
  content: "";
  display: block;
  background-color: var(--light-white);
  box-shadow: 1px 1px 4px var(--orange);
  height: 2px;
  width: 15px;
  position: relative;
  top: 5px;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--two.sticky {
  background-color: var(--light-black);
  box-shadow: none;
}

.menu__icon .menu__icon--two.active {
  display: none;
  box-shadow: none;
}

.menu__icon .menu__icon--three {
  content: "";
  display: block;
  background-color: var(--light-white);
  box-shadow: 1px 1px 4px var(--orange);
  height: 2px;
  width: 25px;
  position: relative;
  top: 10px;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--three.sticky {
  background-color: var(--light-black);
  box-shadow: none;
}

.menu__icon .menu__icon--three.active {
  transform: rotate(-45deg);
  top: 0;
  background-color: var(--light-white);
  box-shadow: none;
}

.menu__icon .menu__icon--three.sticky.active {
  transform: rotate(-45deg);
  top: 0;
  background-color: var(--light-black);
  box-shadow: none;
}
/* ##### BTN ##### */

.btn {
  margin: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.7rem;
  background: var(--main-color);
  color: #fff;
  transition: 0.5s;
  border: none;
  border: 1px solid #fff;
  cursor: pointer;
}

/* ##### Reponsive ##### */

@media (max-width: 400px) {
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
    z-index: 1000;
  }
  .menu__icon {
    display: block;
  }
  .menu {
    position: fixed;
    top: 50px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .menu.active {
    left: 0;
  }
  header ul li a {
    font-size: 24px;
    color: #111;
    margin: 10px;
  }
}

@media (max-width: 700px) {
}
